.App {
  display: flex;
  background-color: rgb(143, 143, 143);
  width: 100%;
  height: 100vh;
  transition: 0.3s;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.listWrapper {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 10%;
}
